/* reddit.com */

/* INVERT */

/* CSS */
/* Reddit logo */
.snoo-cls-9 {
    fill: #842123 !important;
}

.snoo-cls-10 {
    fill: #ff4500 !important;
}

.snoo-cls-11 {
    fill: #ffc49c !important;
}

/* Buttons */
.button-secondary {
    --button-border-color-default: var(--darkreader-text--color-button-secondary-border) !important;
    --button-color-background-activated: var(--darkreader-bg--color-button-secondary-background-activated) !important;
    --button-color-background-active: linear-gradient(var(--darkreader-bg--color-button-secondary-background-hover), var(--darkreader-bg--color-button-secondary-background-hover)) !important;
    --button-color-background-default: var(--darkreader-bg--color-button-secondary-background) !important;
    --button-color-background-disabled: var(--darkreader-bg--color-button-secondary-background-disabled) !important;
    --button-color-background-focus: var(--darkreader-bg--color-button-secondary-background-focus) !important;
    --button-color-background-hover: var(--darkreader-bg--color-button-secondary-background-hover) !important;
    --button-color-text-activated: var(--darkreader-text--color-button-secondary-text-activated) !important;
    --button-color-text-default: var(--darkreader-text--color-button-secondary-text) !important;
    --button-color-text-disabled: var(--darkreader-text--color-button-secondary-text-disabled) !important;
}

.button-plain {
    --button-color-background-hover: var(--darkreader-bg--color-button-plain-background-hover) !important;
    --button-color-background-disabled: var(--darkreader-bg--color-button-plain-background-disabled) !important;
    --button-color-background-activated: var(--darkreader-bg--color-button-plain-background-activated) !important;
    --button-color-background-active: linear-gradient(var(--darkreader-bg--color-button-secondary-background-hover), var(--darkreader-bg--color-button-secondary-background-hover)) !important;
    --button-color-text-default: var(--darkreader-text--color-button-plain-text) !important;
    --button-color-text-disabled: var(--darkreader-text--color-button-plain-text-disabled) !important;
    --button-color-text-activated: var(--darkreader-text--color-button-plain-text-activated) !important;
    --button-color-text-hover: var(--darkreader-text--color-button-plain-text-hover) !important;
}

.hover\:text-secondary:hover {
    color: var(--darkreader-text--color-secondary) !important;
}

.hover\:bg-secondary-background-hover:hover {
    background-color: var(--darkreader-bg--color-secondary-background-hover) !important;
}

.hover\:border-secondary-background-hover:hover {
    border-color: var(--darkreader-bg--color-secondary-background-hover) !important;
}

/* Comment tree */
shreddit-comment-tree {
    background-color: var(--darkreader-bg--shreddit-content-background) !important;
}

.bg-neutral-background {
    background-color: var(--darkreader-bg--color-neutral-background) !important;
}

.bg-tone-2 {
    background-color: var(--darkreader-border--color-tone-2) !important;
}

.bg-tone-4 {
    background-color: var(--darkreader-border--color-tone-4) !important;
}

.\[\&\>\.threadline\>\*\]\:border-tone-2>.threadline>* {
    border-color: var(--darkreader-border--color-tone-2) !important;
}

.\[\&\>\.threadline\>\*\]\:border-tone-4>.threadline>* {
    border-color: var(--darkreader-border--color-tone-4) !important;
}

/* Dropdown menus */
faceplate-menu {
    background-color: var(--darkreader-bg--color-neutral-background-strong) !important;
}

.hover\:bg-neutral-background-hover:hover {
    background-color: var(--darkreader-bg--color-neutral-background-hover) !important;
}

/* Text */
.text-secondary {
    color: var(--darkreader-text--color-secondary) !important;
}

.text-secondary-weak {
    color: var(--darkreader-text--color-secondary-weak) !important;
}

.text-secondary-strong {
    color: var(--darkreader-text--color-secondary-strong) !important;
}

.text-secondary-onBackground {
    color: var(--darkreader-text--color-secondary-onBackground) !important;
}

.text-neutral-content {
    color: var(--darkreader-text--color-neutral-content) !important;
}

.text-neutral-content-weak {
    color: var(--darkreader-text--color-neutral-content-weak) !important;
}

.text-neutral-content-strong {
    color: var(--darkreader-text--color-neutral-content-strong) !important;
}

/* Sidebar buttons */
.bg-neutral-background-selected,
.bg-neutral-background-selected:hover {
    background-color: var(--darkreader-bg--color-neutral-background-selected) !important;
}

/* Search bar */
.bg-secondary-background {
    background-color: var(--darkreader-bg--color-secondary-background) !important;
}

.bg-neutral-background-strong {
    background-color: var(--darkreader-bg--color-neutral-background-strong) !important;
}

.border-neutral-border-weak {
    border-color: var(--darkreader-border--color-neutral-border-weak) !important;
}

.label-container-hover {
    --color-input-secondary-hover: var(--darkreader-bg--color-secondary-background-hover) !important
}

input {
    color: var(--darkreader-text--color-neutral-content-strong) !important;
}

.button.button-activated {
    --button-color-text: var(--darkreader-text--button-color-text-activated) !important;
    --button-color-background: var(--darkreader-bg--button-color-background-activated) !important;
    --button-border-color: var(--darkreader-border--button-border-color-activated) !important;
}

/* Login modal */
.bg-ui-modalbackground {
    background-color: var(--darkreader-bg--color-neutral-background-selected) !important;
}

auth-flow-modal {
    background-color: transparent !important;
}

:host([appearance="secondary"]) .label-container {
    background-color: var(--darkreader-bg--color-secondary-background) !important;
}

/* Get reddit dialog box */
#get-app-dialog {
    background-color: var(--darkreader-bg--color-neutral-background-strong) !important;
}

/* IGNORE INLINE STYLE */
/* SVGs */
svg {
    display: unset;
}

svg * {
    display: unset;
}

/* IGNORE IMAGE ANALYSIS */
