reddit.com

INVERT
video ~ div [style^="height"]
.snoo-cls-1
.snoo-cls-2
.snoo-cls-3
.snoo-cls-8

CSS
[style^="--background"] {
    --background: ${#FFFFFF} !important;
}
[style^="--canvas"] {
    --canvas: ${#DAE0E6} !important;
}
[style^="--pseudo-before-background"] {
    --pseudo-before-background: ${#DAE0E6} !important;
}
[style^="--comments-overlay-background"] {
    --comments-overlay-background: ${#DAE0E6} !important;
}
[style^="--commentswrapper-gradient-color"] {
    --comments-overlay-background: ${#DAE0E6} !important;
}
[style^="--fakelightbox-overlay-background"] {
    --fakelightbox-overlay-background: ${#DAE0E6} !important;
}
.button:hover {
    --button-color-background: var(--darkreader-bg--color-neutral-background-hover) !important;
}
.hover\:text-secondary:hover {
    color: var(--darkreader-neutral-text) !important;
}
.hover\:bg-secondary-background-hover:hover {
    background-color: var(--darkreader-bg--color-neutral-background-hover) !important;
}
.hover\:border-secondary-background-hover:hover {
    border-color: var(--darkreader-border--color-neutral-border-medium) !important;
}
.before\:border-tone-4::before {
    border-color: var(--color-tone-4) !important;
}
.button-shell {
    color: var(--darkreader-neutral-text) !important;
}
.button-plain {
    --button-color-text-default: var(--darkreader-neutral-text) !important;
}
.button-secondary {
    --button-color-background-default: var(--darkreader-bg--color-neutral-background) !important;
    --button-color-text-default: var(--darkreader-text--color-neutral-content-weak) !important;
}
.internalBackButton {
    background-image: linear-gradient(to right,var(--plain-background) 0,var(--darkreader-bg--color-secondary-background) 30%) !important;
}
.internalForwardButton {
    background-image: linear-gradient(to right,var(--plain-background) 0,var(--darkreader-bg--color-secondary-background) 30%) !important;
}
.label-container {
    background: var(--darkreader-bg--color-neutral-background) !important;
}
.label-container:hover {
    background: var(--darkreader-bg--color-neutral-background-hover) !important;
}
.md p>a[href="#s"]::after, a[href="#s"]::after {
    color: #000;
}
.text-neutral-content-strong {
    color: var(--darkreader-text--color-neutral-content-strong) !important;
}
header a[aria-label="Home"] svg:last-child g,
header > div > div + div a[href] *,
header > div > div + div button[aria-label] * {
    fill: var(--darkreader-neutral-text) !important;
}
#comment-tree {
    background-color: var(--darkreader-bg--color-neutral-background) !important;
}
#COIN_PURCHASE_DROPDOWN_ID > div {
    background: linear-gradient(180deg,hsla(0,0%,100%,.1) 45.96%,hsla(0,0%,100%,.57) 46%,hsla(0,0%,100%,0) 130%),${gold} !important;
}
#COIN_PURCHASE_DROPDOWN_ID > div > span {
    color: ${white} !important;
}
#search-input-chip {
    background: var(--darkreader-bg--color-secondary-background-selected) !important;
}
.md-spoiler-text:not([data-revealed])::selection {
    color: transparent !important;
    background-color: var(--darkreader-bg--newCommunityTheme-metaText) !important;
}
button[slot="forward-button"] {
    background-color: var(--darkreader-border--color-neutral) !important;
}
button[slot="back-button"] {
    background-color: var(--darkreader-border--color-neutral) !important;
}
div[slot="tabs"] {
    background: var(--darkreader-bg--color-neutral-background) !important;
}
div[role="menu"][style^="position: fixed"] button button[role="switch"][aria-checked="false"] {
    background-color: ${gray} !important;
}
div[role="menu"][style^="position: fixed"] button button[role="switch"] > div {
    background-color: ${black} !important;
}
object[data="about:blank"] {
    display: none !important;
}
span[class="inline-block mr-[calc(var(--size-button-sm-h)-var(--rem10)-var(--button-border-width-default))] overflow-hidden text-ellipsis"] {
    color: var(--darkreader-text--color-neutral-content) !important;
}
shreddit-comment-tree {
    background-color: var(--darkreader-bg--shreddit-content-background) !important;
}
.self-start {
    background-color: var(--darkreader-bg--shreddit-content-background) !important;
}
#comment-fold-button {
    background-color: var(--darkreader-bg--shreddit-content-background) !important;
}
button.w-lg {
    background-color: var(--darkreader-bg--shreddit-content-background) !important;
}
.bg-neutral-background {
    background-color: var(--darkreader-bg--shreddit-content-background) !important;
}
.text-secondary {
    color: var(--darkreader-text--color-secondary) !important;
}
faceplate-tracker > li > a:hover {
    background-color: var(--darkreader-bg--color-neutral-background-hover) !important;
}
faceplate-tracker > li > div:hover {
    background-color: var(--darkreader-bg--color-neutral-background-hover) !important;
}
div#RECENT > li > a:hover {
    background-color: var(--darkreader-bg--color-neutral-background-hover) !important;
}
span.input-container.stateful-input input {
    color: var(--darkreader-text--color-tone-1) !important;
}
.reddit-search-bar {
    background-color: var(--darkreader-bg--color-neutral-background) !important;
}
.reddit-search-bar .text-neutral-content {
    color: var(--darkreader-text--color-tone-1) !important;
}
faceplate-tracker > li[rpl-selected] > a {
    background-color: var(--darkreader-bg--color-tone-3) !important;
}
faceplate-menu {
    background-color: var(--darkreader-bg--color-neutral-background-strong) !important;
}
faceplate-tracker > button[rpl-selected] {
    background-color: var(--darkreader-bg--color-neutral-background-hover) !important;
}
faceplate-tracker a[data-testid]:hover {
    background-color: unset !important;
}
faceplate-tracker[noun="trending"] div:hover {
    background-color: unset !important;
}
faceplate-hovercard > div > div > div {
    background-color: var(--darkreader-bg--color-neutral-background) !important;
}
faceplate-hovercard > div > div > div:hover {
    background-color: var(--darkreader-bg--color-neutral-background) !important;
}
#faceplate-tooltip {
    background-color: var(--darkreader-bg--color-neutral-background) !important;
}
faceplate-hovercard p {
    color: var(--darkreader-text--color-neutral-content-strong) !important;
}
.text-secondary-weak {
    color: var(--darkreader-text--color-secondary-weak) !important;
}
button.button-plain:hover {
    color: var(--button-color-text-default) !important;
}
faceplate-menu > li > div {
    background-color: var(--darkreader-bg--color-neutral-background-hover) !important
}
.text-neutral-content-weak {
    color: var(--darkreader-text--color-neutral-content-weak);
}
